* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:darkgrey;
}

.contact {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color:wheat;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: rgb(21,21,100);
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-form {
    flex-basis: 50%;
    padding-right: 2rem;
}

.contact-info {
    flex-basis: 40%;
    padding-left: 2rem;
}
.contact-info h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: rgb(21,21,100);
}
.contact-info p {
    margin-bottom: 0.5rem;
    color: rgb(21,21,100);
}
.contact-info i {
    margin-right: 0.5rem;
    color: rgb(21,21,100)
}
